<!DOCTYPE html>
<html>
<head>
  <title>Acu</title>
  <%= stylesheet_link_tag    "acu/application", media: "all" %>
  <%= javascript_include_tag "acu/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
