<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @admin_booking_chat.name %>
</p>

<%= link_to 'Edit', edit_admin_booking_chat_path(@admin_booking_chat) %> |
<%= link_to 'Back', admin_booking_chats_path %>
